
<h3> Welcome </h3>

<form action= "/logout" method= "POST" style="margin:150px;">
<% if (username) { %>
<%= username
<input type="submit" value="Logout">
</form>
<%}else { %>
<form action="/login" method="POST" style="margin:150px;">
<input id="username" type="text" name="username" placeholder="Enter your username..." style="width: 300px">
<input type="submit" value="Submit">
</form>

