
<h3> Hello there </h3><form action="/login" method="POST" style="margin:150px;">
<input id="username" type="text" name="username" placeholder="Enter your username..." style="width: 300px">
<input type="submit" value="Submit">
</form>
