
<h3> Welcome </h3>

<%if(username){%>
  <form method="POST" action="/logout"><%=username %>
  <input type="submit" value="Log Out"/>
  </form>
  <%}else{%>
<form method="POST" action="/login">
    <input type ="text" name="username" placeholder="sign in"/>
    <input type ="submit" value="Log In" />
    <%}%>
    </form>