<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body class="container">

    <header>
        <% include /partials/header %>
    </header>

    <main>
        <div class="jumbotron">
            <h1>This is great</h1>
            <p>Welcome to my Tiny App</p>
        </div>
    </main>

    <footer>

    </footer>

</body>
</html>